BASE_URL = https:/$()/app.publishing.service.gov.uk
ASSETCATALOG_COMPILER_APPICON_NAME = AppIconRelease
AUTHENTICATION_BASE_URL = govukapp.auth.eu-west-2.amazoncognito.com
AUTHENTICATION_CLIENT_ID = 40grlhknon5palderi2j1a1bte
TOKEN_BASE_URL = https:/$()/em5hkfc46k.execute-api.eu-west-2.amazonaws.com/production
CHAT_BASE_URL = https:/$()/t4l83ued82.execute-api.eu-west-2.amazonaws.com/staging
