<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AUTHENTICATION_CLIENT_ID</key>
	<string>$(AUTHENTICATION_CLIENT_ID)</string>
	<key>AUTHENTICATION_BASE_URL</key>
	<string>$(AUTHENTICATION_BASE_URL)</string>
	<key>TOKEN_BASE_URL</key>
	<string>$(TOKEN_BASE_URL)</string>
	<key>CHAT_BASE_URL</key>
	<string>$(CHAT_BASE_URL)</string>
	<key>CHAT_AUTH_TOKEN</key>
	<string>$(CHAT_AUTH_TOKEN)</string>
	<key>OneSignal_suppress_launch_urls</key>
	<true/>
	<key>BaseURL</key>
	<string>$(BASE_URL)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.govuk.govuk</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>govuk</string>
			</array>
		</dict>
	</array>
	<key>FirebaseAutomaticScreenReportingEnabled</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>ONESIGNAL_APP_ID</key>
	<string>$(ONESIGNAL_APP_ID)</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>NSFaceIDUsageDescription</key>
	<string>Your Face ID will only be used to unlock the app. It’s not shared with GOV.UK.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>splashScreenBlue</string>
	</dict>
</dict>
</plist>
